/* White: #ffffff */
/* Green: #a1ec16 */
/* Pink: #ee1b5f */
/* Brown: #a28062 */
/* Blue: #3a3745 */
/* Dark: #191423 */

* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

body {
	background: #3a3745;
	color: white;
	font-size: 10pt;
	font-family: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 260pt;
	background-color: #191423;
	background-image: url("sky.svg");
	background-position: center center;
}
header h1 {
	font-size: 24pt;
	font-weight: 300;
	text-align: center;
}
header h1 img {
	margin-bottom: 24pt;
}
header h1 span, header h1 small {
	display: block;
}
header h1 small {
	font-size: 10pt;
}
header h1 b {
	font-weight: 600;
	margin: 0 0.5pt;
	border-bottom: 2pt solid rgba(255, 255, 255, 0.4);
}

main {
	margin: 64pt auto;
	max-width: 720pt;
}

section#idioms {
	padding: 80pt 20pt;
	box-shadow: 0 -4pt 0 rgba(25, 20, 35, .7);
}
section#idioms div.section-content {
	margin: 0 auto;
	max-width: 600pt;
}

section#syntax-elements {
	display: flex;
	flex-direction: row;
	padding: 80pt 20pt;
	background-image: radial-gradient(at center bottom, #2c4478, #191423 80%);
	border-top: 4pt solid #191423;
}
section#syntax-elements div.sticky-block {
	position: sticky;
	top: 80pt;
}
section#syntax-elements div.scrolling-block {
	flex: 1;
	margin-left: 20pt;
}
section#syntax-elements div.scrolling-block div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 60vh;
	margin: 80pt 0;
}
section#syntax-elements pre {
	display: block;
	line-height: 2em;
	overflow: auto;
}
section#syntax-elements pre code[lang="spaceshit"] span.highlight {
	padding: 5pt 0;
	background: #ffd900;
	color: #191423;
}
section#idioms h3 {
	margin-top: 26pt;
}

h2 {
	font-size: 18pt;
	font-weight: normal;
}

h2, p, ul {
	margin-bottom: 13pt;
}

ul {
	padding-left: 13pt;
}

code {
	font-family: "Source Code Pro", "Consolas", monospace;
}
